@import '../../Sass/mixins.scss';
@import '../../Sass/colors.scss';


.Header{
    @include flex-column-center();
    background: $color-bg;
    height:100px;
    h1{
        color:azure;
        font-family: sans-serif;
    }

}

