#btn-remove{
    border-radius: 15px;
    height: 5vh;
    width: 10vw;
}

#tarea{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

